<!doctype html>
<html lang="en">
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css" />

    <title>Ephemeral Adaptation</title>
  </head>
  <body>
    <h1 id="prompt"></h1>

		<h1 class="introduction">Welcome to the Ephemeral Adaptation User Study</h1>
		<h2 class="introduction">Here is some information about the study.</h2>
		<h3 class="introduction">Here is more information about the study. Click the button to begin.</h2>
		<button type="button" class="btn btn-primary introduction" id="introduction_button">Start Experiment</button>

		<h1 class="middle">You are in between sections</h1>
		<h2 class="middle">Here is some information about the rest of the study.</h2>
		<h3 class="middle">Here is more information about the rest of the study. Click the button to resume.</h2>
		<button type="button" class="btn btn-primary middle" id="middle_button">Proceed to next section</button>

		<h1 class="end">The study has now ended</h1>
		<h2 class="end">Thank you for your participation.</h2>
		<h3 class="end">Please fill out this anonymous google form.</h2>
		<button type="button" class="btn btn-primary end" id="end_button" onClick="parent.location='https://sites.google.com/g.harvard.edu/cs-279-fall-2018/home'">Done, take me to the Google Form</button>

		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="experiment">

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
					<!-- MENU 1 -->
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="menu1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Menu 1
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" id="menu1-section1-item1">Default</a>
							<a class="dropdown-item" id="menu1-section1-item2">Default</a>
							<a class="dropdown-item" id="menu1-section1-item3">Default</a>
							<a class="dropdown-item" id="menu1-section1-item4">Default</a>
		          <div class="dropdown-divider"></div>
							<a class="dropdown-item" id="menu1-section2-item1">Default</a>
							<a class="dropdown-item" id="menu1-section2-item2">Default</a>
							<a class="dropdown-item" id="menu1-section2-item3">Default</a>
							<a class="dropdown-item" id="menu1-section2-item4">Default</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" id="menu1-section3-item1">Default</a>
							<a class="dropdown-item" id="menu1-section3-item2">Default</a>
							<a class="dropdown-item" id="menu1-section3-item3">Default</a>
							<a class="dropdown-item" id="menu1-section3-item4">Default</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" id="menu1-section4-item1">Default</a>
							<a class="dropdown-item" id="menu1-section4-item2">Default</a>
							<a class="dropdown-item" id="menu1-section4-item3">Default</a>
							<a class="dropdown-item" id="menu1-section4-item4">Default</a>
		        </div>
		      </li>

					<!-- MENU 2 -->
					<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="menu2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Menu 2
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" id="menu2-section1-item1">Default</a>
							<a class="dropdown-item" id="menu2-section1-item2">Default</a>
							<a class="dropdown-item" id="menu2-section1-item3">Default</a>
							<a class="dropdown-item" id="menu2-section1-item4">Default</a>
		          <div class="dropdown-divider"></div>
							<a class="dropdown-item" id="menu2-section2-item1">Default</a>
							<a class="dropdown-item" id="menu2-section2-item2">Default</a>
							<a class="dropdown-item" id="menu2-section2-item3">Default</a>
							<a class="dropdown-item" id="menu2-section2-item4">Default</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" id="menu2-section3-item1">Default</a>
							<a class="dropdown-item" id="menu2-section3-item2">Default</a>
							<a class="dropdown-item" id="menu2-section3-item3">Default</a>
							<a class="dropdown-item" id="menu2-section3-item4">Default</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" id="menu2-section4-item1">Default</a>
							<a class="dropdown-item" id="menu2-section4-item2">Default</a>
							<a class="dropdown-item" id="menu2-section4-item3">Default</a>
							<a class="dropdown-item" id="menu2-section4-item4">Default</a>
		        </div>
		      </li>

					<!-- MENU 3 -->
					<li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="menu3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Menu 3
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" id="menu3-section1-item1">Default</a>
							<a class="dropdown-item" id="menu3-section1-item2">Default</a>
							<a class="dropdown-item" id="menu3-section1-item3">Default</a>
							<a class="dropdown-item" id="menu3-section1-item4">Default</a>
		          <div class="dropdown-divider"></div>
							<a class="dropdown-item" id="menu3-section2-item1">Default</a>
							<a class="dropdown-item" id="menu3-section2-item2">Default</a>
							<a class="dropdown-item" id="menu3-section2-item3">Default</a>
							<a class="dropdown-item" id="menu3-section2-item4">Default</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" id="menu3-section3-item1">Default</a>
							<a class="dropdown-item" id="menu3-section3-item2">Default</a>
							<a class="dropdown-item" id="menu3-section3-item3">Default</a>
							<a class="dropdown-item" id="menu3-section3-item4">Default</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" id="menu3-section4-item1">Default</a>
							<a class="dropdown-item" id="menu3-section4-item2">Default</a>
							<a class="dropdown-item" id="menu3-section4-item3">Default</a>
							<a class="dropdown-item" id="menu3-section4-item4">Default</a>
		        </div>
		      </li>
		    </ul>
		  </div>
		</nav>
		<br>

		<p id="experiment_number log"></p>
		<p id="condition_order log"></p>
		<p id="technique log"></p>
		<p id="block_number log"></p>
		<p id="trial_number log"></p>
		<p id="correct_id log"></p>
		<p id="answer log"></p>
		<p id="correct_word log"></p>
		<p id="num_trials log"></p>
		<p id="predicted_words log"></p>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script type="text/javascript" src="scripts.js"></script>
	</body>
</html>
