h1, h2, h3 {
  padding: 10px;
}

p  {
  margin:10px;
}

button {
  margin: 10px;
}

#screenshot {
  height: 266px;
}

.dropdown-item{
  padding-bottom: 0;
  padding-top: 0;
}

.custom-select {
  margin:10px;
  width: 50%
}

/* Help on how to fade obtained from here:
 * https://stackoverflow.com/questions/18748241/text-color-with-fading-over-time-effect
 */
.fading {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fading;
  animation-duration: 0.5s;
  animation-name: fading;
}
@-webkit-keyframes fading {
  from {
    color: white;
  }
  to {
    color: black;
  }
}
@keyframes fading {
  from {
    color: white;
  }
  to {
    color: black;
  }
}
